@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-sideways {
    word-wrap: break-word;
    width: 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
